<div class="product-attributes clearfix">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans %}Product attributes{% endtrans %}</h2>
        </div>
        <div class="panel-body">
            {% include "shoop/front/product/_detail_attributes_section.jinja" %}
        </div>
    </div>
</div>
