{% if product.description %}
    <div class="product-description clearfix">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans %}Product description{% endtrans %}</h2>
            </div>
            <div class="panel-body">
                {{ product.description|markdown }}
            </div>
        </div>
    </div>
{% endif %}
