<h1>{{ product.name }}</h1>
<p>{% trans %}SKU{% endtrans %}: {{ product.sku }}</p>
{# TODO: (TAX) Check following line (gets taxful price of product)  #}
{% set price = product.get_price(request) %}
<h3>
    {{ price|home_currency }}
    {% if price.includes_tax %}(incl. tax){% else %}(excl. tax){% endif %}
    <small>/ {{ product.sales_unit.short_name }}</small>
</h3>

<hr>

<div class="well">
{# {% include "shoop/front/product/_detail_order_section.jinja" with context %} #}
</div>
